.all {
  color: var(---color5--);
  font-size: 32px;
  font-weight: 100;
  margin-top: 1rem;
  width: fit-content;
}

.all-movies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 1rem;
}

.regular-movies {
  width: 350px;
  cursor: pointer;
  position: relative;
}

.regular-movies-image {
  width: 350px;
  border-radius: 10px;
  position: relative;
}

.regular-movie-desc {
  margin-top: 1rem;
}

.regular-movie-list {
  display: flex;
  gap: 25px;
  color: var(---color5--);
  opacity: 60%;
  margin-bottom: 0.5rem;
  font-weight: 100;
}

.regular-movie-list > li:first-child {
  list-style: none;
}

.regular-movie-title {
  color: var(---color5--);
  font-size: 18px;
  font-weight: 400;
}

.play {
  display: none;
  position: absolute;
  top: 30%;
  left: 35%;
}

.play-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100px;
  height: 50px;
  color: var(---color5--);
  border-radius: 20px;
  background-color: #979797;
  mix-blend-mode: hard-light;
}

.regular-movies:hover > .play {
  display: block;
  transition: ease-in-out;
}

.regular-movie-thumbnail:hover {
  opacity: 50%;
}
