@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  ---color1--: #fc4747;
  ---color2--: #10141e;
  ---color3--: #5a698f;
  ---color4--: #161d2f;
  ---color5--: #ffffff;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

body {
  background-color: var(---color2--);
  font-family: "Outfit", sans-serif;
  overflow-x: hidden;
}

.app {
  display: flex;
  gap: 25px;
  margin: 3rem;
}

.home {
  width: 100%;
}

.movies {
  width: 100%;
}

.series {
  width: 100%;
}

.bookmark {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .app {
    flex-direction: column;
  }
}
