* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  ---color1--: #fc4747;
  ---color2--: #10141e;
  ---color3--: #5a698f;
  ---color4--: #161d2f;
  ---color5--: #ffffff;
}

body {
  background-color: var(---color2--);
}
